.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='password']:focus {
    outline: none;
    border-color: #6cb2eb;
    box-shadow: 0 0 5px #6cb2eb;
  }
  
  button[type='submit'] {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .row a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .row a:hover {
    text-decoration: underline;
  }
  